@media (max-width: 1380px) {
    .books {
        .swiper {
            padding-left: 10px;
        }
    }
}

@media (max-width: 1250px) {
    .filters {
        padding-bottom: 15px;
        .found {
            position: absolute;
            bottom: 0px;
            left: 20px;
        }
    }
}

@media (max-width: 992px) {
    .header {
        .header-burger {
            width: 30%;
        }
        &__my-library {
            max-width: 100%;
            margin: 0;
            margin-top: 25px;
            font-size: 16px;
        }
        &-list {
            font-size: 18px;
            margin-right: 0;
            margin-bottom: 15px;
        }
        &-logo {
            width: 40%;
            img {
                width: 32px;
            }
            &__title {
                font-size: 12px;
                line-height: 16px;
            }
            &__title-sub {
                font-size: 6px;
                line-height: 10px;
            }
        }
        &-right {
            width: 30%;
        }
        &__signUp {
            padding: 6px;
            width: auto;
            height: auto;
            border-radius: 50%;
        }
        &__user {
            max-width: auto;
            height: auto;
            padding: 2px;
            border-radius: 50%;
            &-img {
                width: 32px;
                height: 32px;
                object-position: center;
            }
        }
        &-search {
            &__btn {
                width: 32px;
                height: 32px;
            }
        }
    }
    .search {
        &-title {
            width: 88%;
        }
        .line {
            display: none;
        }
        &__inp {
            border-radius: 100px;
            padding: 0 70px 0 10px;
            height: 32px;
        }
        
        .header-search {
            padding: 5px;
            position: relative;
            padding-bottom: 50px;
            .border {
                padding: 2px;
            }
            .clear-search {
                right: 0;
                font-size: 10px;
            }
            &__close {
                min-width: 32px;
                min-height: 32px;
                svg {
                    width: 12px;
                }
            }
            .mob_check-sort {
                position: absolute;
                bottom: 10px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &-result {
            font-size: 13px;
            &-left {
                width: 100%;
                margin-bottom: 10px;
            }
            &-info {
                width: 100%;
            }
        }
        &-item {
            &-info {
                font-size: 12px;
            }
        }
    }
    // End header

    
.wrapper {
    .container {
        padding: 60px 20px 85px;
    }
    &__title {
        font-size: 32px;
        line-height: 38px;
    }
    &__text {
        font-size: 16px;
        line-height: 20px;
        margin: 15px 0 30px;
    }
    &-right {
        img {
            &:first-child {
                width: 200px;
            }
        }
    }
}
// End wrapper

.books {
    &__title {
        font-size: 24px;
        line-height: 26px;
        margin: 0 !important;
    }
}

.aside {
    &__title {
        font-size: 24px;
        line-height: 26px;
    }
    &__all {
        font-size: 12px;
    }
}
// End aside


.thematic {
    &__title {
        font-size: 24px;
        line-height: 26px;
    }
    &__all {
        font-size: 12px;
        display: flex;
        align-items: center;
        white-space: nowrap;
    }
    .thematic-circle {
        width: 280px;
        height: 280px;
    }
    &-slider {
        margin-top: 100px;
        &__link {
            margin-top: 15px;
            margin-bottom: 5px;
        }
        &-info {
            font-size: 12px;
        }
    }
    .swiper-slide {
        &:hover {
            .img1 {
                transform: rotate(0) translateX(10px);
            }
            .img2 {
                transform: rotate(0) translateX(-70px);
                width: 90%;
            }
            .img3 {
               transform: translate(-60px, 0px);
               width: 80%;
            }
        }

    }
}
// End thematic

    
.authors {
    padding: 50px 0;
    &__title {
        font-size: 24px;
        line-height: 26px;
    }
    &__all {
        font-size: 12px;
        padding: 8.5px 20px;
    }
    &-item {
        padding: 80px 10px 20px;
        &__link {
            font-size: 16px;
        }
    }

}
// End authors


.title__page {
    font-size: 24px;
    line-height: 26px;
}
.theBest {
    .title__page {
        margin-top: 16px;
    }
}
.title__page-sub {
    font-size: 20px;
    line-height: 24px;
}

.publishing-box {
    &-photos {
        img {
            height: 280px;
            border-radius: 5px;
        }
    }
}

.books-card-info {
    .product-photos-home {
        padding: 30px 0;
        img {
            height: 300px;
            object-fit: contain
        }
    }
    .product-photos-list {
        width: 80px;
        height: 80px;
        img {
            height: 50px;
        }
    }

    .books-card-info-brends {
        margin-top: 80px;
        .announcement {
           left: 0;
        }
    }
    
    .brends {
        width: 100%;
    }
    .expected-text {
        &__title {
            font-size: 20px;
            line-height: 25px;
        }
    }
    .characteristics {
        width: 100%;
    }
}
}

@media (max-width: 768px) {
    .books {
        position: relative;
        padding-bottom: 80px;
        &__title {
            font-size: 24px;
            margin-right: 50px;
        }
        &__all {
            font-size: 12px;
        }
    }
    // End books
    
    .mobile_pagination {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translateX(-50%);
    }

    .smells {
        .row {
            padding: 30px 0;
        }
        &-circle {
            width: 300px;
            height: 300px;
            img {
                width: 200px;
            }
        }
        &__title {
            font-size: 24px;
        }
        &-text {
            font-size: 16px;
            line-height: 20px;
            padding: 20px 0;
            margin: 20px 0;
        }
        &__link {
            margin-bottom: 50px;
            display: inline-block;
        }
    }
    // End smells

    .bookshelves {
        margin-top: 30px;
        &__title {
            font-size: 24px;
            line-height: 26px;
            margin-right: 0;
        }
        &__all {
            font-size: 12px;
            width: 165px;
        }
    }
    // End bookshelves
    .authors {
        &-item {
            width: 49%;
            padding-top: 100px;
        }
    
    }
    // End authors
    .footer {
        &-item {
            padding: 10px 20px;
        }
        ul {
            width: 100%;
        }
        &-list {
            margin-right: 0;
        }
        .header-logo__title {
            font-size: 20px;
            line-height: 24px;
            text-align-last: left;
        }
        .header-logo__title-sub {
            font-size: 12px;
            line-height: 14px;
        }
    }
    
    .watched{
        padding: 30px 0 100px;
        .mobile_pagination {
            top: 80%;
        }
        &-card {
            padding: 10px 5px 10px 10px;
            &__img {
                margin-right: 10px;
            }
            &__link {
                font-size: 14px;
                margin-top: 10px;
            }
            &__text {
                font-size: 14px;
                color: #000;
                opacity: 0.5;
            }
            &:hover {
                border-bottom: 4px solid #F3A93C;
                transform: translateY(-10px)
            }
        }
        .swiper_btn {
            background: #fff;
            &:hover {
                background: #f2f2f2;
            }
        }
    }
    // End watched

    .author-info {
        &-item {
            &__name {
                font-size: 26px;
                line-height: 28px;
            }
            &__texts {
                margin-top: 0;
            }
            
            .arrow {
                transform: rotate(90deg);
                margin-left: 10px;
            }
            .open-allInfo-text {
                font-size: 14px;
                padding: 8.5px 20px;
                border-radius: 50px;
                margin: 25px 0 50px;
                outline: none;
                &:hover {
                    background: #ccc;
                }
            }
            .showInfoText {
                .author-info-item__texts {
                    max-height: 2000px;
                    background: transparent;
                    -webkit-text-fill-color: #000;
                }
                .arrow {
                    transform: rotate(270deg);
                }
            }
        }
    }

    .publishing-house {
        border-radius: 0px 0px 10px 10px;
        padding-top: 80px;
        &-item {
            margin: 80px 0;
        }
        &__title {
            font-size: 26px;
            line-height: 30px;
        }
        &__text {
            font-size: 14px;
            line-height: 18px;
        }
    }
    // End publishing-house

    .modal-content {
        padding: 20px;
        max-width: 98%;
    }
    .modal__title {
        font-size: 26px;
        line-height: 28px;
    }
    .modal__close {
        top: 15px !important;
        right: 20px !important;
        svg path {
            stroke: #000;
        }
    }
    .my-library-noFound__text {
        font-size: 14px;
        line-height: 17px;
    }
}

@media (max-width: 576px) {
    .wrapper {
        .container {
            padding: 30px 20px 50px;
            text-align: center;
        }
        &__title {
            font-size: 24px;
            line-height: 26px;
        }
        &__text {
            font-size: 16px;
            line-height: 20px;
            margin: 15px 0 30px;
        }
        &__link {
            padding: 10px 30px;
        }
        &-right {
            img {
                &:first-child {
                    width: 220px;
                    margin-left: 50px;
                }
            }
        }
    }
    // End wrapper
    

    

    .bookshelves {
        &-left {
            width: 100%;
            height: 220px;
        }
        &_card {
            padding: 15px 10px;
        }
        &-right {
            width: 100%;
            &-item {
                width: 100%;
                height: 220px;
                margin-top: 10px;
                &:nth-child(1) {
                    margin-bottom: 0;
                }
            }
    
        }
    }
    // End bookshelves

    .aside {
        &-right {
            &-item {
                padding: 10px;
                &__info {
                    font-size: 12px;
                }
                &__img {
                    width: 100px;
                }
            }
            &__user {
                margin-right: 5px;
            }
            &-user__name {
                font-size: 14px;
            }
            &-user__date {
                font-size: 12px;
            }
        }
    }
    // End aside
    
    .authors {
        &-item {
            width: 100%;
            padding-top: 120px;
        }
    
    }
    // End authors

    .theBest {
        padding: 80px 0 40px;
        .title__page {
            margin-top: 16px;
        }
        &-slider {
            margin-top: 30px;
        }
        .swiper-scrollbar {
            background: #F1E5D9;
          }
          
          .swiper-container-horizontal > .swiper-scrollbar {
            border-radius: 2px;
            height: 6px;
            width: 200px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        .swiper-scrollbar {
            top: 98%;
        }
        .swiper-scrollbar-drag {
            background: #F3A93C;
            cursor: pointer;
        }
    }


    .filters {
        &__lab {
            padding: 15px 20px;
        }
    }
    // End filters

    .allBooks {
        .sorts {
            &-box {
                padding: 7px 10px;
                cursor: pointer;
                &__title {
                    font-size: 12px;
                    margin-right: 15px;
                }
                svg {
                    transform: rotate(90deg);
                }
                &-list {
                    font-size: 12px;
                    &-info {
                        font-size: 12px;
                    }
                }
            }
    
        }
    }

    .series {
        &-card {
            &__img {
                width: 165px;
                height: 260px;
            }
            .img2 {
                width: 150px;
            }
            .img3 {
                width: 130px;
            }
            &__link {
                margin: 15px 0 5px;
            }
            &:hover {
                transform: translateY(-10px)
            }
        }
    }
    // End series
    
    .show-more__btn {
        width: 100%;
    }

    .books-page,
    .audiobooks-page {
        margin-top: 80px;
    }
    .home__page {
        font-size: 10px;
    }
    .this_page {
        font-size: 10px;
    }
    .allSeries-sub__title {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 5px;
    }

    .publishing-box {
        &-photos {
            img {
                height: 250px;
            }
            .img1 {
                width: 40%;
            }
            .img2 {
                width: 59%;
            }
            .img3 {
                width: 50%;
            }
            .img4 {
                width: 49%;
            }
        }
        &-middle {
            font-size: 18px;
            line-height: 22px;
            padding: 20px 0;
            margin: 40px 0;
        }
    }
    // Book authoe info
.book-author {
    padding: 30px 0;
    &-item {
        &__photo {
            margin-right: 0;
        }
        &__name {
            font-size: 26px;
            line-height: 30px;
        }
    }
    &-texts {
        margin-bottom: 20px;
        .info__text {
            margin-bottom: 20px;
        }
    }
    &__link {
        font-size: 12px;
    }
}

.reviews {
    &-nums {
        font-size: 14px;
    }
    .leave-review {
        width: 170px;
        font-size: 12px;
    }
    &-photo {
        min-width: 50px;
        min-height: 50px;
        font-size: 16px;
    }
    &-btns {
        button {
            font-size: 12px;
        }
    }
    &-open__btn {
        font-size: 12px;

    }
    &-all__btn {
        font-size: 12px;
    }
}
// Отзывы о книге
}

